/* custom CSS rules */
body {
    font-family: 'Droid Sans', sans-serif;
}
.legend-large,
.legend-small {
    border-radius: 50%;
}

hr.small,
hr.large {
    width: 83px;
    position: absolute;
    top: -8px;
    left: 55px;
    border: 1px solid #ccc;
    margin-top: 8px;
}

.boys {
    color: #6E77B0;
}

.girls {
    color: #D96D02;
}